<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.poznan.put.fc.antipaymentGuard">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddPayCardActivity"
            android:label="@string/title_activity_add_pay_card"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="apg4.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="pl.poznan.put.fc.antipaymentGuard.models.PayCard,             pl.poznan.put.fc.antipaymentGuard.models.Transaction,             pl.poznan.put.fc.antipaymentGuard.models.conditions.AmountCondition,             pl.poznan.put.fc.antipaymentGuard.models.conditions.NumberCondition" />

        <activity
            android:name=".activities.PayCardActivity"
            android:label="@string/title_activity_pay_card_details"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.poznan.put.fc.antipaymentGuard.activities.MainActivity" />
        </activity>
    </application>

</manifest>